/*! rainbows.css | by platy11 | MIT license | github.com/platy11/rainbows.css */

@keyframes rainbows-a {
  0% { background-color: #600060 }
  10% { background-color: #FF506F; }
  20% { background-color: red; }
  30% { background-color: orange; }
  40% { background-color: yellow; }
  50% { background-color: #3DE13D; }
  60% { background-color: green; }
  70% { background-color: #60B3CE;}
  80% { background-color: blue; }
  90% { background-color: #C000C0; }
  100% { background-color: #600060; }
}

.rainbows.one.long {
  animation-duration: 3s;
  animation-name: rainbows-a;
  animation-iteration-count: infinite;
}

.rainbows.one.short {
  animation-duration: 1.5s;
  animation-name: rainbows-a;
  animation-iteration-count: infinite;
}
